
<h2> Edit Post for User: <%= current_user.username %> </h2>

Sanitize.document(html,
  :allow_doctype => true,
  :elements      => ['html']
<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <b>Title:</b> <input type="text" name="title" value=<%= @post.title %>>
  <b>Artist:</b> <input type="text" name="artist" value=<%= @post.artist %>>
  Difficulty: Novice <input type="radio" value="novice" name="difficulty">  Medium <input type="radio" value="medium" name="difficulty">  Pro <input type="radio" value="pro" name="difficulty" required>
  <%# <%='checked'== @post.difficulty%>
  <p><label for="post"> Post:</label></p>
   <textarea id="post" name="content" rows=5 cols=100>
   <%= @post.content %>
   </textarea></p>
  <input type="submit" value="Submit">
</form>
<input type="button" onclick="window.location.href='/posts';" value="Cancel" />

