Sanitize.document(html,
  :allow_doctype => true,
  :elements      => ['html']

<h2> Here are your posts, <%= @user.username %>
<input type="button" onclick="window.location.href='/posts/new';" value="New Post" />
<input type="button" onclick="window.location.href='/posts';" value="View All Posts" />
<input type="button" onclick="window.location.href='/logout';" value="Logout" /></h2>
<% @user.posts.each do |post| %>
      <p><%= post.artist %>  <%=post.title%>
       <input type="button" onclick="window.location.href='/posts/<%=post.id%>';" value="View Post" />
       <%=post.user.username%></p>
<% end %>

